<!DOCTYPE html>
<html>
  <head>
    <title>Algorithms</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <ul>
      <li>
        <a href="/algorithms/returns">API Returns: </a>
      </li>
    </ul>
    <%= yield %>
  </body>
</html>
